#on-npm-foo {
    h1 a, h2 a {
        color: $black;
    }

    h1.package-name-redundant,
    p.package-description-redundant {
        display: none;
    }

    .deep-link-icon {
        display: none; // hrefs are to #blah, but id="user-content-blah" (?!)
    }

    img {
        max-width: 100%;
    }
}
